report.enabled = true
trace.enabled = true
profiles {
  local_docker {
    docker.enabled = true
  }
  aws {
    docker.enabled = true
    process.executor = 'awsbatch'
    process.queue = 'aws-nextflow'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    aws.region = 'us-east-2'
  }
}

process {
  withName:seqyclean{
    container = 'staphb/seqyclean:1.10.09'
  }
  withName:fastqc{
    container = 'staphb/fastqc:0.11.8'
  }
  withName:shovill{
    container = 'staphb/shovill:1.0.4'
  }
  withName:multiqc{
    container = 'staphb/multiqc:1.8'
  }
  withName:quast{
    container = 'staphb/quast:5.0.2'
  }
}
