report.enabled = true
trace.enabled = true
profiles {
  local_docker {
    docker.enabled = true
  }
  aws {
    includeConfig 'configs/profile.aws'
  }
}

process {
  withName:trim{
    container = 'staphb/trimmomatic:0.39'
  }
  withName:cleanreads{
    container = 'staphb/bbtools:38.76'
  }
  withName:fastqc{
    container = 'staphb/fastqc:0.11.8'
  }
  withName:shovill{
    container = 'staphb/shovill:1.0.4'
  }
  withName:multiqc{
    container = 'staphb/multiqc:1.8'
  }
  withName:quast{
    container = 'staphb/quast:5.0.2'
  }
  withName:annotate{
    container = 'staphb/prokka:1.14.5'
  }
}
